---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="max-w-screen-md mx-auto py-10 px-3">
      <article>
        <div class="w-full">
          {
            heroImage && (
              <img
                transition:name={heroImage}
                class="block rounded-xl shadow-xl"
                width={1020}
                height={510}
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <div
          class="prose prose-lg prose-pre:leading-tight prose-img:mx-auto prose-hr:my-6 prose-h1:text-3xl md:prose-h1:text-4xl prose-ul:list-disc prose-h1:mb-5 md:prose-xl"
        >
          <div class="mb-3 py-3 text-center leading-relaxed">
            <div class="py-3">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="italic">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1 transition:name={title}>{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
